@charset "UTF-8";

html {
    font-size: 100%;
}

body{
    color:#333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* Header */
#header {
    height: 40px;
    padding: 40px 0 0 50px;
}

#header .site-title {
    width: 100px;
    line-height: 1px;
}

#header .site-title a {
    display: block;
}

/* hamburger menu */
.hamburger {
    width: 100px;
    height: 100px;
    background: #ff2a2a;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger span {
    width: 50px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 25px;
    transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 36px;
}

.hamburger span:nth-child(2) {
    top: 50px;
}

.hamburger span:nth-child(3) {
    top: 64px;
}

.hamburger.active span:nth-child(1) {
    top: 47px;
    left: 25px;
    background: #fff;
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 47px;
    background: #fff;
    transform: rotate(45deg);
}

/* Navigation */
#navi {
    width: 100%;
    height: 100vh;
    background: #ff2a2a;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    text-align: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
}