@charset "UTF-8";

html {
    font-size: 100%;
}

body{
    color:#333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing: 0.1em;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* Components */
.wrapper {
    width: 100%;
    max-width: 860px;
    margin: auto;
}

.section-title {
    font-size: 2.25rem;
    margin-bottom: 100px;
    text-align: center;
    position: relative;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    background: #333;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -20px;
}

/* Header */
#header {
    height: 40px;
    padding: 40px 0 0 50px;
}

#header .site-title {
    width: 100px;
    line-height: 1px;
}

#header .site-title a {
    display: block;
}

/* hamburger menu */
.hamburger {
    width: 100px;
    height: 100px;
    background: #ff2a2a;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger span {
    width: 50px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 25px;
    transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 36px;
}

.hamburger span:nth-child(2) {
    top: 50px;
}

.hamburger span:nth-child(3) {
    top: 64px;
}

.hamburger.active span:nth-child(1) {
    top: 47px;
    left: 25px;
    background: #fff;
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 47px;
    background: #fff;
    transform: rotate(45deg);
}

/* Navigation */
#navi {
    width: 100%;
    height: 100vh;
    background: #ff2a2a;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    text-align: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
}

/* If navi active */
#navi.active {
    opacity: 1;
    visibility: visible;
}

#navi .logo {
    width: 100px;
    position: absolute;
    top: 40px;
    left: 50px;
}

#navi .menu {
   margin: 80px 0 40px 0;
}

#navi .menu li {
    margin-bottom: 20px;
}

#navi .menu a {
    color: #fff;
    font-weight: bold;
}

#navi .btn {
    width: 250px;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px 0;
    margin: auto;
    position: relative;
    transition: 0.3s ease-in-out;
}

#navi .btn::after {
    position: absolute;
    content: '';
    width: 250px;
    height: 55px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    right: -6px;
    bottom: -6px;
}

#navi .btn:hover {
    background: #fff;
    color: #ff2a2a;
}

/* Mainvisual */
#mainvisual {
    height: 720px;
    position: relative;
    margin-bottom: 120px;
}

#mainvisual .text {
    position: absolute;
    top: 280px;
    left: 10%;
    z-index: 10;
}

#mainvisual .text .title {
    font-size: 2.875rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0 4px 6px #fff;
}

#mainvisual .text .btn {
    background: #ff2a2a;
    border-bottom: 6px solid #9a0413;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    display: block;
    padding: 15px 35px;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

#mainvisual .text .btn::after {
    position: absolute;
    content: '';
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    top: 26px;
    right: 30px;
    width: 16px;
    height: 16px;
}

#mainvisual .text .btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/* SlideShow */
#mainvisual .fade li {
    position: absolute;
    width: 75%;
    top: 0;
    right: 0;
    opacity: 0;
    animation: fade 15s infinite;
}

#mainvisual .fade li:nth-child(1) {
    animation-delay: 0s;
}

#mainvisual .fade li:nth-child(2) {
    animation-delay: 5s;
}

#mainvisual .fade li:nth-child(3) {
    animation-delay: 10s;
}

#mainvisual .fade li img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

#mainvisual .fade li:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 20px 20px #fff;
}

/* Animation Fade */
@keyframes fade {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Reason Section */
#reason {
    margin-bottom: 120px;
}

#reason .bg {
    background: #ff2a2a;
    padding: 80px 0;
}

#reason .slide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 5%;
    opacity: 0;
}

#reason .slide img {
    width: auto;
    height: 60px;
    margin-right: 30px;
}

#reason .slide .title {
    color: #ff2a2a;
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
}

#reason .slide .text {
    display: block;
    font-size: 1.125rem;
}

#reason .inview-slide-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 40px;
}

#reason .inview-slide-right {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Animation Slide left */
#reason .slide-left {
    animation: slide-left 0.5s ease-in-out 0s 1 forwards;
}

@keyframes slide-left {
    0% {
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#reason .slide-right {
    animation: slide-right 0.5s ease-out 0s 1 forwards;
}


@keyframes slide-right {
    0% {
        transform: translateX(150%);
    }

    100% {
        opacity: 1;
        transform: translateX(100%);
    }
}

/* Voice */
#voice {
    margin-bottom: 120px;
}

#voice .item-left,
#voice .item-right {
    display: flex;
    align-items: flex-start;
    opacity: 0;
    margin-bottom: 60px;
}

#voice .item-left {
    justify-content: flex-start;
}

#voice .student img {
    width: 120px;
    background: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

#voice .student .name {
    font-size: 0.75rem;
    text-align: center;
}

/* Balloon Settings */
#voice .item-left .balloon-text,
#voice .item-right .balloon-text {
    width: 60%;
    display: flex;
    justify-content: center;
    background: #e9f1fb;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

#voice .item-left .balloon-text {
    margin-left: 25px;
}

#voice .item-right .balloon-text {
    margin-right: 25px;
}

#voice .item-left .balloon-text::before {
    position: absolute;
    content: '';
    border: 15px solid transparent;
    border-right: 15px solid #e9f1fb;
    top: 60%;
    left: 0;
    margin-left: -30px;
}

#voice .item-right .balloon-text::before {
    position: absolute;
    content: '';
    border: 15px solid transparent;
    border-left: 15px solid #e9f1fb;
    top: 60%;
    right: 0;
    margin-right: -30px;
}

#voice .balloon {
    animation: balloon 0.5s ease-out 0s 1 forwards;
}


@keyframes balloon {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Summary */
#summary {
    background: url(img/bg.gif) repeat;
    animation: fall 10s infinite linear;
    padding: 60px 0;
    margin-bottom: 120px;
}

@keyframes fall {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700px 700px;
    }
}

#summary .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#summary .menu li {
    width: 48%;
    background: #fff;
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 32px;
}

#summary .menu  li:nth-child(n + 3) {
    margin-bottom: 0;
}

#summary .menu-title {
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#summary .menu-title .ja {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 15px;
}

#summary .menu-title .en {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 30px;
}


/* Entry */
#entry {
    margin-bottom: 120px;
    text-align: center;
}

#entry .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#entry .catchphrase {
    font-size: 1.125rem;
    margin-bottom: 40px;
}

#entry .btn {
    background: #ff2a2a;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-align: center;
    border-radius: 40px;
    border: 3px solid #ff2a2a;
    transition: 0.3s;
    width: 50%;
    margin: auto;
}

#entry .btn:hover {
    background: #fff;
    color: #ff2a2a;
}

/* Footer */
#footer {
    background: #e8e8e8;
    padding: 60px 0 20px 0;
}

#footer a {
    font-size: 0.875rem;
    transition: 0.3s;
}

#footer a:hover {
    opacity: 0.7;
}

#footer .inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#footer .inner > li {
    width: 25%;
}

#footer .inner .title {
    font-weight: bold;
}

#footer .inner .menu {
    padding: 10px 0 0 10px;
}

#footer .inner .menu li {
    margin-bottom: 3px;
}

#footer .copyright {
    text-align: center;
    font-size: 0.625rem;
}

/* SmartPhone */
@media screen and (max-width: 900px) {
    .wrapper {
        padding: 0 16px;
    }

    .section-title {
        font-size: 1.75rem;
        margin-bottom: 60px;
    }

    .section-title::after {
        width: 80px;
    }

    /* Header */
    #header {
       padding: 25px 0 0 25px;  
    }

    .hamburger {
        width: 75px;
        height: 75px;
    }

    .hamburger span {
        width: 35px;
        left: 21px;
    }

    .hamburger span:nth-child(1) {
        top: 26px;
    }

    .hamburger span:nth-child(2) {
        top: 37px;
    }

    .hamburger span:nth-child(3) {
        top: 48px;
    }

    .hamburger.active span:nth-child(1) {
        top: 37px;
        left: 21px;
    }

    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 37px;
    }

    #navi .logo {
        top: 25px;
        left: 25px;
    }
    
    #navi .menu {
        margin-top: 110px;
    }

}


